<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="{{ theme }} {{ font_size }}-font">
    <div class="sidebar sidebar-{{ theme }}">
        <a href="{% url 'lista_nieruchomosci' %}" style="display: flex; align-items: center; justify-content: center; margin-top: 25px;">
            <button style="background: none; border: none;"><i class="fas fa-home" style="font-size: 60px;"></i></button>
        </a>
        <a href="{% url 'dodaj_nieruchomosc' %}" class="button-2">
            <button><i class="fas fa-plus"></i> Dodaj nieruchomość</button>
        </a>
        <a href="{% url 'lista_najemcow' %}" class="button-3">
            <button><i class="fas fa-users"></i> Najemcy</button>
        </a>
        <a href="{% url 'kalendarz_najmow' %}" class="button-4">
            <button><i class="fas fa-calendar-alt"></i> Kalendarz najmów</button>
        </a>
        <a href="{% url 'lista_oplat' %}" class="button-5">
            <button><i class="fas fa-money-bill-wave"></i> Opłaty</button>
        </a>
        <a href="{% url 'raporty' %}" class="button-6">
            <button><i class="fas fa-file-alt"></i> Raporty</button>
        </a>
        <a href="{% url 'ustawienia' %}" class="button-7">
            <button><i class="fas fa-cogs"></i> Ustawienia</button>
        </a>
        <a href="/users/login/" class="button-8">
            <button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button>
        </a>
    </div>

<div class="topnav">
    
</div>

<div class="content">
    <div class="form-container">
        <form method="post" enctype="multipart/form-data" id="dodaj-nieruchomosc-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Dodaj nieruchomość</button>
        </form>
    </div>
    <div class="image-upload-container">
        <form method="post" enctype="multipart/form-data" id="dodaj-zdjecie-form">
            {% csrf_token %}
            {{ zdjecie_form.as_p }}
            <div class="drop-zone" id="drop-zone">
                <input type="file" name="obrazy" id="obrazy" accept="image/*" multiple class="drop-zone__input">
            </div>
             <button type="submit">Dodaj zdjęcia</button>
        </form>
    </div>
</div>

</body>
</html>
<script>
    const dropZone = document.getElementById('drop-zone');
    const input = document.getElementById('obrazy');

    dropZone.addEventListener('dragover', (event) => {
        event.preventDefault();
        dropZone.classList.add('drop-zone--over');
    });

    dropZone.addEventListener('dragleave', () => {
        dropZone.classList.remove('drop-zone--over');
    });

    dropZone.addEventListener('drop', (event) => {
        event.preventDefault();
        dropZone.classList.remove('drop-zone--over');

        const files = event.dataTransfer.files;
        if (files.length > 0) {
            input.files = files;
        }
    });
</script>