<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="{{ theme }} {{ font_size }}-font">


<div class="sidebar">
    <a href="{% url 'lista_nieruchomosci' %}" style="display: flex; align-items: center; justify-content: center; margin-top: 25px;">
        <button style="background: none; border: none;"><i class="fas fa-home" style="font-size: 60px;"></i></button>
    </a>
    <a href="{% url 'dodaj_nieruchomosc' %}" class="button-2">
        <button><i class="fas fa-plus"></i> Dodaj nieruchomość</button>
    </a>
    <a href="{% url 'lista_najemcow' %}" class="button-3">
        <button><i class="fas fa-users"></i> Najemcy</button>
    </a>
    <a href="{% url 'kalendarz_najmow' %}" class="button-4">
        <button><i class="fas fa-calendar-alt"></i> Kalendarz najmów</button>
    </a>
    <a href="{% url 'lista_oplat' %}" class="button-5">
        <button><i class="fas fa-money-bill-wave"></i> Opłaty</button>
    </a>
    <a href="{% url 'raporty' %}" class="button-6">
        <button><i class="fas fa-file-alt"></i> Raporty</button>
    </a>
    <a href="{% url 'ustawienia' %}"class="button-7">
        <button><i class="fas fa-cogs"></i> Ustawienia</button>
    </a>
</div>
<div class="content">
    <div class="form-container">
        <form action="zmien_nieruchomosc" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="typ">Typ nieruchomości: </label>
            <select id="typ" name="typ">
                <option value="Dom" {% if nieruchomosc.Typ_nieruchomosci == "Dom" %}selected{% endif %}>Dom</option>
                <option value="Mieszkanie" {% if nieruchomosc.Typ_nieruchomosci == "Mieszkanie" %}selected{% endif %}>Mieszkanie</option>
            </select><br><br>
            <label for="status">Status: </label>
            <select id="status" name="status">
                <option value="Na Sprzedaż" {% if nieruchomosc.Status == "Na Sprzedaż" %}selected{% endif %}>Na Sprzedaż</option>
                <option value="Wynajęte" {% if nieruchomosc.Status == "Wynajęte" %}selected{% endif %}>Wynajęte</option>
                <option value="Do wynajęcia" {% if nieruchomosc.Status == "Do wynajęcia" %}selected{% endif %}>Do wynajęcia</option>
                <option value="Do remontu" {% if nieruchomosc.Status == "Do remontu" %}selected{% endif %}>Do remontu</option>
            </select><br><br>
            <label for="cena">Cena nieruchomości: </label>
            <input type="text" id="cena" name="cena" value="{{ nieruchomosc.Cena }}"><br><br>
            <label for="powierzchnia">Powierzchnia nieruchomości: </label>
            <input type="text" id="powierzchnia" name="powierzchnia" value="{{ nieruchomosc.Powierzchnia }}"><br><br>
            <label for="liczba_pokoi">Liczba pokoi: </label>
            <input type="text" id="liczba_pokoi" name="liczba_pokoi" value="{{ nieruchomosc.Liczba_pokoi }}"><br><br>
            <p> Zmień dowolne z pól i kliknij Edytuj</p>
            <input type="submit" value="Edytuj">
        </form>
    </div>
</div>

</body>
</html>