<!-- Tymek, ostatnia modyfikacja 19.05.2024-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalendarz</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />
    <script src='https://unpkg.com/fullcalendar@5/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/core/locales-all.min.js'></script>
</head>
<body class="{{ theme }} {{ font_size }}-font">

    <div class="sidebar sidebar-{{ theme }}">
        <a href="{% url 'lista_nieruchomosci' %}" style="display: flex; align-items: center; justify-content: center; margin-top: 25px;">
            <button style="background: none; border: none;"><i class="fas fa-home" style="font-size: 60px;"></i></button>
        </a>
        <a href="{% url 'dodaj_nieruchomosc' %}" class="button-2">
            <button><i class="fas fa-plus"></i> Dodaj nieruchomość</button>
        </a>
        <a href="{% url 'lista_najemcow' %}" class="button-3">
            <button><i class="fas fa-users"></i> Najemcy</button>
        </a>
        <a href="{% url 'kalendarz_najmow' %}" class="button-4">
            <button><i class="fas fa-calendar-alt"></i> Kalendarz najmów</button>
        </a>
        <a href="{% url 'lista_oplat' %}" class="button-5">
            <button><i class="fas fa-money-bill-wave"></i> Opłaty</button>
        </a>
        <a href="{% url 'raporty' %}" class="button-6">
            <button><i class="fas fa-file-alt"></i> Raporty</button>
        </a>
        <a href="{% url 'ustawienia' %}" class="button-7">
            <button><i class="fas fa-cogs"></i> Ustawienia</button>
        </a>
        <a href="/users/login/" class="button-8">
            <button><i class="fas fa-sign-out-alt"></i> Wyloguj się</button>
        </a>
    </div>

    <div id="calendar"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var apiUrl = "{% url 'api-najmy' %}";
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'pl', // Set calendar language to Polish
                initialView: 'dayGridMonth', // Show calendar in monthly view
                events: function(fetchInfo, successCallback, failureCallback) {
                    fetch(apiUrl) // Use Django view URL
                        .then(response => response.json())
                        .then(data => successCallback(data))
                        .catch(error => failureCallback(error));
                },
                buttonText: {
                    today: 'Obecny Miesiąc' // Change the "today" button label to "Obecny Miesiąc"
                }
            });
            calendar.render();
        });
    </script>
</body>
</html>
