body {
    font-family: Arial, sans-serif; /* Wybierz czcionkę */
    margin: 0; /* Usuń marginesy */
    padding: 0; /* Usuń wewnętrzne odstępy */
    background-color: #151a21;
}
.nieruchomosci-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 40px;
    margin-right: 2%;
}

.nieruchomosc {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Prevent content from overflowing */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}
.nieruchomosc:hover {
    border: 3px solid green; /* Ramka wokół nieruchomości */
}

.nieruchomosc img {
    width: 100%; /* Rozciągnij zdjęcie na całą szerokość */
    height: 200px; /* Ustaw wysokość zdjęcia */
    object-fit: cover; /* Dopasuj zdjęcie do ramki, zachowując proporcje */
}

.nieruchomosc-info {
    padding: 10px; /* Odstęp wewnątrz elementu z informacjami */
    color: blueviolet;
    float: left;
}
.container {
    display: flex;
    background-color: #8d9db3; /* Kolor tła między kolumnami */
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.sidebar {
    background-color: #151a21;
    float: left;
    width: 15%;
    height: 100%;
    text-align: center;
}
.container {
    float: left;
    width: 70%; /* zmniejszenie szerokości kontenera */
    margin-right: 10%; /* zwiększenie marginesu z prawej strony */
}



.sidebar a {
    display: inline-block; /* Zmiana z flex na inline-block */
    margin: 1px; /* Usunięcie odstępów między przyciskami */
    text-decoration: none;
    width: 100%;
}

.sidebar button i {
    vertical-align: middle;
}

.sidebar .button-1 {
    border-left: 5px solid red;
}

.sidebar .button-2 {
    border-left: 5px solid blue;
}

.sidebar .button-3 {
    border-left: 5px solid green;
}

.sidebar .button-4 {
    border-left: 5px solid yellow;
}

.sidebar .button-5 {
    border-left: 5px solid orange;
}

.sidebar .button-6 {
    border-left: 5px solid purple;
}

.sidebar .button-7 {
    border-left: 5px solid pink;
}

.sidebar button {
    background-color: #151a21;
    padding: 0;
    color: #5b7ba3;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 95%;
    height: 80px;
    margin: 0;
    border: none; /* Usunięcie domyślnego obramowania */
    box-sizing: border-box; /* Dodanie właściwości box-sizing */
}


.sidebar button:hover {
    background-color: #ddd;
}

.topnav {
    margin-bottom: 10px;
    background-color: #151a21;
}
.topnav input
{
    padding: 5px 5px 5px 10px;
     border: 5px solid #6438b0;
     width: 500px;
     height: 30px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.topnav button {
    padding: 5px;
    border: 5px solid #6438b0;
    font-size: large;
    transition: 0.5s linear;
    height: 50px;
}
.topnav button:hover {
  color: #000;
  transition: 0.5s linear;
  cursor: pointer;
}
.sort-filtr {
    position: relative; /* Dodanie pozycjonowania względnego */
    display: inline-block;
}

.filtr {
    position: relative; /* Dodanie pozycjonowania względnego */
    cursor: pointer;
    color: white;
    font-size: 35px;
    margin-right: 20px;
    top: 0;
    vertical-align: middle; /* Wycentrowanie pionowe */
}

select#sort-options {
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
    transition: min-width 0.1s; /* Dodajemy efekt przejścia dla płynnego zmniejszania/zwiększania */
    font-size: 16px; /* Zwiększamy rozmiar czcionki */
}


#sort-options:hover {
    /* Po najechaniu na pole sortowania, zwiększamy jego rozmiar */
    min-width: 200px;
}


/* Pokazywanie opcji sortowania po najechaniu na ikonę sortowania */
.filtr:nth-child(1):hover #sort-options {
    display: block;
}

.filter-options {
    font-size: small;
    color: black;
    display: none;
    position: absolute;
    right: 40%;
    background-color: #f9f9f9;
    width: 170px; /* Dostosowanie szerokości panelu filtracji */
    padding: 10px; /* Dostosowanie wewnętrznego odstępu */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; /* Ustawienie panelu na lewo */
    top: 100%; /* Przesunięcie panelu poniżej ikony */
    text-align: left;
}

/* Pokazywanie panelu filtracji po najechaniu na ikonę filtracji */
.filtr:nth-child(2):hover .filter-options {
    display: block;
}

/* Wyśrodkowanie tekstu "Filtruj" w prawej stronie */
.filtr {
    margin-left: 89%;
    text-align: right;
}

/* Style for labels */
.filter-options label {
    display: block; /* Labels on their own line */
    margin-bottom: 5px; /* Add space between label and input */
    font-weight: bold; /* Make labels stand out */
}

/* Style for input fields and select menus */
.filter-options input[type="number"],
.filter-options select {
    width: 100px; /* Adjust width as needed */
    border: 1px solid #ccc;
}

/* Style for submit button */
.filter-options button {
    padding: 8px 15px;
    background-color: #4CAF50; /* Example color */
    color: white;
    border: none;
    cursor: pointer;
}
.filter-options button[type="reset"] { /* Target the reset button specifically */
    background-color: #f44336; /* Example color for a red "clear" button */
    float: right;
}
/* Wyśrodkowanie tekstu "Sortowanie" */
.sort-filtr  {
    margin-right: 20px; /* Dodaj odstęp z prawej strony */
    text-align: left; /* Wyśrodkuj tekst w prawo */
    color: #cccccc;
    font-size: 35px;
}

/* Wyśrodkowanie panelu sortowania */
.sort-filtr #sort-options {
    display: none;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
    transition: min-width 0.1s; /* Dodajemy efekt przejścia dla płynnego zmniejszania/zwiększania */
    font-size: 16px; /* Zwiększamy rozmiar czcionki */
}

.sort-filtr:hover #sort-options {
    display: block;
}





